* {
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina padding por defecto */
    
}

body {
    margin: 0; /* Asegúrate de que el body no tenga margen */
    font-family: "Catamaran", sans-serif;
    font-size: 1rem; /*lo iconos de font awson escalan con font size*/
}

strong{
    font-weight: normal; /*solo lo quiero la importancia semantica, no el resaltado visual*/
}

.grid_layout {
    display: grid;
    grid-template-areas: 
        "header "
        "nav"
        "main"
        "footer ";
        grid-template-columns: 1fr;
        grid-template-rows: auto 4.1125rem auto 1fr auto;
        min-height: 100vh;
}
/*----------------style Header---------------*/
.header {
    grid-area: header;
    display: flex; /* lo uso para posicionar los elementos flex del header*/
    justify-content: space-between; /* Asegura que el logo y los enlaces estén a los lados */
    background-color: #F4A300; /* Amarillo Calabaza */
    
}

.logo {
    display: flex; /* Activa flexbox en el logo */
    align-items: center; /* Alinea verticalmente el logo */
}

.logo img {
    margin-left: 1.30vw; /*25px*/
    max-width: 100%;/* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 40%; /* Ajusta el tamaño según sea necesario */
}

.header_links {
    display: flex; /* Activa flexbox en los enlaces */
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
    align-items: center;
    gap: 1.30vw; /* Espacio entre los enlaces 25px*/
    margin-right: 1.30vw; /*25px*/
}
.header_links i{
    color:#1D3557;
    
}
.header_links a{
    text-decoration: none; 
    margin-bottom: 3.125vw; /*60px*/

}
.header_links span{
    margin-left: 0.78vw; /*15px*/
    font-size: 0.887rem; /*15px*/
    color:#1D3557;
}

/*----------------style Nav---------------*/
.navbar {
    grid-area: nav;
    background-color: #1D3557; /* Color de fondo */
    padding: 1.08vh; /* Espaciado */
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Enlaces del menú de navegación */
.navbar-nav .nav-link {
    color: #FFFFFF; /* Color de los enlaces */
    font-weight: lighter;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #F4A300; /* Color del hover */
}

.navbar-collapse {
    background-color: #1D3557; /* Fondo sólido para el dropdown */
    margin-top: 10px; /* Espacio entre el botón y el desplegable */
    width: 100%; /* Asegura que cubra el ancho completo de la pantalla */
    position: relative; /* Posiciona el menú respecto al contenedor */
    top: 72.5%; /* Coloca el dropdown justo debajo del botón */
    left: 0; /* Alinea el menú a la izquierda */
    z-index: 9; /* Asegura que esté por encima de otros elementos */
}
.navbar-collapse a{
    padding-left: 20px;
}

/* Botón de toggler (para pantallas pequeñas) */
.navbar-toggler {
    border-color: #1D3557 !important; /* Color del borde del botón en Calabaza */
    background-color: #F4A300 !important; /* Color de fondo del botón en Calabaza */
}

/* Estilo para las rayitas del ícono del desplegable */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F4A300' viewBox='0 0 30 30'%3E%3Cpath stroke='%231D3557' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    background-size: 100% 100%;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F4A300' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(244, 163, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Estilo del campo de búsqueda */
.form-control {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #F4A300;
    box-shadow: none;
}

/*----------------style Main---------------*/
.main {
    grid-area: main;
    background-color: #556B2F;
    padding: 0.52vw; /*10px*/
    display: flex; /* Cambiar a flexbox */
    flex-direction: column; /* Asegura que las secciones se apilen verticalmente */
    height: 100%; /* Asegura que el main ocupe todo el espacio del contenedor */
    margin: 3vw 3vw 3vw 3vw; /*64 px x4*/
    border-radius: 1.56vw; /*30px */
}

.main section {
    background-color: #556B2F;
    padding: 1.08vh; /*10px*/
    border-radius: 0.54; /*5px*/
    margin-bottom: 1.08vh; /* Espacio entre secciones 10px*/
    flex: 1 1 0%; /* Permite que las secciones crezcan y ocupen el espacio disponible */
    
}
.main {
    color: #FFFFFF;
    font-size: 1.25rem; /*20px*/
}
/*------------------Seccion 1--------------------------------*/
#titulo_destacado {
    text-align: center; /* Centra el texto */
    position: relative; /* Posiciona el título de forma relativa para poder usar el pseudo-elemento */
    margin-bottom: 1.04vw; /* Espacio debajo del título 10px*/
}

#titulo_destacado::after {
    content: ""; /* Necesario para crear el pseudo-elemento */
    display: block; /* Hace que sea un bloque */
    width: 50%; /* Ancho de la línea (puedes ajustarlo) */
    height: 0.10vw; /* Altura de la línea  2px */
    background-color: white; /* Color de la línea */
    margin: 1.04vw auto 0; /* Centra la línea y añade margen superior */
}
.section_1 {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas en pantallas pequeñas */
    gap: 2.17vh; /* Espacio entre cada tarjeta 20px*/
    justify-content: space-around; /* Distribuye las tarjetas uniformemente */
    color: #FFFFFF
}

.product_card {
    background-color: #fff;
    border: 0.10vh solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.78);
    overflow: hidden;
    width: 18%;
    text-align: center;
    padding: 1.08vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que los elementos se distribuyan correctamente */

}

.product_card img {
    width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
    height: auto;
    border-bottom: 0.10vh solid #ddd; /*1px*/
    margin-bottom: 1.08vh; /*10px*/
}

.product_card h4 {
    font-size: 1.2em;
    margin: 1.08vh;
    color: #333;
    display: flex;
    flex-wrap: wrap; /* Permite que el texto del título se divida en varias líneas */
    justify-content: center; /* Centra el título */
    min-height: 6.5vh;
}

.product_card p {
    font-size: 0.9em;
    color: #666;
    margin: 1.08vh 0;
    min-height: 3.5vh;
    display: flex;
    justify-content: center; /* Asegura que el precio esté centrado */
}

.product_card .price {
    font-weight: bold;
    min-height: 5.5vh;
}

.product_card button {
    background-color: #1D3557;
    color: #fff;
    border: none;
    width: 7vw; /*Ajusto el ancho de los botones*/
    border-radius: 0.54vh;
    padding: 1.08vh 2.17vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Empuja el botón al final de la tarjeta */
    margin-bottom: auto;
    align-self: stretch; /* Asegura que el botón tenga el mismo ancho */
}


.product_card button:hover {
    background-color: #F4A300;
}

---------------------modal---------------------------

/* Estilo para el modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Ancho por defecto para pantallas grandes */
    height: auto;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    z-index: 1000;
    overflow-y: auto; /* Scroll en caso de contenido extenso */
}
/* Cuando el modal está visible, se desplaza hacia la derecha */
.modal.activo {
    display: flex;
    left: 4; /* Modal aparece desde la izquierda */
}

/* Estilo para el contenedor del modal */
.modal-contenido {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width:100%;
    max-width: 250px;
    text-align:center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-contenido img{
    
    height: 100px;
    width: 100px;
    object-fit: cover;
}

/* Cuando el modal se activa, desplazamos el main hacia la derecha */
body.modal-abierto .main {
    transform: translateX(6.6%); /* Mueve el main a la derecha */
    transition: transform 0.3s ease; /* Transición suave */
    scale: 93.7%;
}

/* Botón de cierre */
#cerrar-modal {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#cerrar-modal:hover {
    background-color: #d32f2f;
}




/*----------------style footer---------------*/
.footer {
    grid-area: footer;
    background-color: #1D3557; /* Color de fondo */
    padding: 0.04vw; /* 209xEspaciado interno */
    text-align: center; /* Alineación del texto */
    color: #ffffff; /* Color del texto */
    margin-top: 6vw; /* Añadir espacio arriba */
}

.footer a {
    font-size: 0.875em;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #F4A300; /* Cambiar color al pasar el ratón */
}

.footer_content {
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: space-between; /* Espacio entre secciones */
    margin: 2.17vh 0; /* 20px Margen superior e inferior */ 
}

.footer_content div {
    flex: 1 1 0%; /* Cada sección toma el mismo espacio */

}

.footer_content h4 {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 1.08vh; /* 10px Espacio debajo del título */
    
}

.contact_info p{
    font-size: 0.875em;;/*14px*/
    text-align: left;
    margin-block-start: 2.74vh; /*16px*/
    text-align: center; /* Centrar el título */
}

.social_media i {
    font-size: 2em; /*32px Ajusta el tamaño de los íconos */
    padding: 10px; /* 10px Espaciado entre íconos */
}

.quick_links h4 {
    margin-left:30px;
    text-align: center;
}

.quick_links  ul li {
    list-style-type: none;
    margin-block-start: 1.74vh; /*16px*/
}

.footer_bottom {
    text-align: center; /* Centrar el texto en la parte inferior */
    color: #ffffff;
    margin-top: 5.98vh; /*55px*/
    font-size: 0.75em; /*12px*/
}
/* Media query para tabletas y dispositivos pequeños */

@media (max-width: 768px) {
    .grid_layout {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
    }

    .main section {
        width: 100%;
        padding: 2vw;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .sidebar {
        width: 100%;
    }

    .section_1 {
        flex-direction: column;
        gap: 1vw;
    }

    .section_3 {
        flex-direction: column;
        width: 100%;
        gap: 2vw; /* Espacio entre las secciones */
    }

    .section_3_part {
        width: 100%; /* Asegura que las partes ocupen el 100% del ancho en dispositivos pequeños */
        margin-bottom: 2vw; /* Espacio entre las imágenes */
    }

    .section_3_part img {
        width: 90%; /* Ajusta el tamaño de las imágenes en móviles */
        height: auto;
    }

    .product_card {
        width: 100%;
    }

    /* Ajuste del botón en la tarjeta de producto */
    .product_card button {
        padding: 1vw 2vw;
        width: auto;  /* Se ajusta automáticamente */
        max-width: 200px; /* Limita el tamaño máximo del botón */
        margin: 0 auto; /* Centra el botón */
        font-size: 1em; /* Ajusta el tamaño del texto */
    }

    .modal-contenido {
        background-color: white;
        border-radius: 8px;
        width: 100%;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .modal {
        width: 90%;
        height: 90%; /* Ocupa el 90% de la pantalla */
        top: 5%;
        left: 5%;
        transform: none; /* No es necesario centrar con translate */
    }
}

/* Media query para pantallas muy pequeñas (móviles) */
@media (max-width: 600px) {
    body {
        margin: 0; /* Asegúrate de que el body no tenga margen */
        font-size: 0.5em !important; /*lo iconos de font awson escalan con font size*/
    }

    .grid_layout {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
    }

    .header_links {
        flex-direction: column;
        margin-right: 0;
    }

    .sidebar {
        width: 89%;
    }

    /* Ajuste más específico del botón en pantallas pequeñas */
    .product_card button {
        padding: 1vw 2vw;
        width: 60vw;  /* Aumenta ligeramente el tamaño en pantallas pequeñas */
        max-width: 200px; /* Limita el tamaño máximo */
        margin: 0 auto; /* Centra el botón */
        font-size: 0.9em; /* Reduce un poco el tamaño del texto */
    }

    .section_3 {
        flex-direction: column;
        gap: 1vw; /* Espacio más pequeño entre las secciones */
    }

    .section_3_part img {
        width: 90%; /* Ajusta aún más el tamaño en pantallas muy pequeñas */
        height: auto;
    }

    .search-bar input {
        font-size: 1rem;
        width: 90%;
    }

    .modal {
        width: 100%; /* Ocupa el ancho completo */
        height: 100%; /* Ocupa el alto completo */
        top: 0;
        left: 0;
        transform: none; /* No es necesario centrar con translate */
        border-radius: 0; /* Sin bordes redondeados */
        padding: 16px; /* Mantén algo de padding */
    }
}
