* {
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina padding por defecto */
    
}

body {
    margin: 0; /* Asegúrate de que el body no tenga margen */
    font-family: "Catamaran", sans-serif;
    font-size: 1rem; /*lo iconos de font awson escalan con font size*/
}

strong{
    font-weight: normal; /*solo lo quiero la importancia semantica, no el resaltado visual*/
}

.grid_layout {
    display: grid;
    grid-template-areas: 
        "header "
        "nav"
        "main"
        "footer ";
        grid-template-columns: 1fr;
        grid-template-rows: auto 4.1125rem auto 1fr auto;
        min-height: 100vh;
}
/*----------------style Header---------------*/
.header {
    grid-area: header;
    display: flex; /* lo uso para posicionar los elementos flex del header*/
    justify-content: space-between; /* Asegura que el logo y los enlaces estén a los lados */
    background-color: #F4A300; /* Amarillo Calabaza */
    
}

.logo {
    display: flex; /* Activa flexbox en el logo */
    align-items: center; /* Alinea verticalmente el logo */
}

.logo img {
    margin-left: 1.30vw; /*25px*/
    max-width: 100%;/* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 40%; /* Ajusta el tamaño según sea necesario */
}

.header_links {
    display: flex; /* Activa flexbox en los enlaces */
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
    align-items: center;
    gap: 1.30vw; /* Espacio entre los enlaces 25px*/
    margin-right: 1.30vw; /*25px*/
}
.header_links i{
    color:#1D3557;
    
}
.header_links a{
    text-decoration: none; 
    margin-bottom: 3.125vw; /*60px*/

}
.header_links span{
    margin-left: 0.78vw; /*15px*/
    font-size: 0.887rem; /*15px*/
    color:#1D3557;
}

/*----------------style Nav---------------*/
.navbar {
    grid-area: nav;
    background-color: #1D3557; /* Color de fondo */
    padding: 1.08vh; /* Espaciado */
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Enlaces del menú de navegación */
.navbar-nav .nav-link {
    color: #FFFFFF; /* Color de los enlaces */
    font-weight: lighter;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #F4A300; /* Color del hover */
}

.navbar-collapse {
    background-color: #1D3557; /* Fondo sólido para el dropdown */
    margin-top: 10px; /* Espacio entre el botón y el desplegable */
    width: 100%; /* Asegura que cubra el ancho completo de la pantalla */
    position: relative; /* Posiciona el menú respecto al contenedor */
    top: 72.5%; /* Coloca el dropdown justo debajo del botón */
    left: 0; /* Alinea el menú a la izquierda */
    z-index: 9; /* Asegura que esté por encima de otros elementos */
}
.navbar-collapse a{
    padding-left: 20px;
}

/* Botón de toggler (para pantallas pequeñas) */
.navbar-toggler {
    border-color: #1D3557 !important; /* Color del borde del botón en Calabaza */
    background-color: #F4A300 !important; /* Color de fondo del botón en Calabaza */
}

/* Estilo para las rayitas del ícono del desplegable */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F4A300' viewBox='0 0 30 30'%3E%3Cpath stroke='%231D3557' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    background-size: 100% 100%;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F4A300' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(244, 163, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Estilo del campo de búsqueda */
.form-control {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #F4A300;
    box-shadow: none;
}

/*----------------style Main---------------*/

main {
    grid-area: main;
    background-color: #FFFFFF; /* Fondo blanco para resaltar contenido */
    padding: 2rem; /* Espaciado interno */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #1D3557; /* Azul Oscuro para texto */
    font-family: 'Catamaran', sans-serif; /* Fuente principal */
}

/* Contenedor general del carrito */
.carrito-container {
    display: flex;
    flex-wrap: wrap; /* Adaptable a pantallas pequeñas */
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; /* Espaciado entre los contenedores */
    padding: 1.5rem;
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 10px;
    background-color: #F4F4F4; /* Fondo claro */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Lista de productos en el carrito */
.productos-carrito {
    flex: 2 1 60%; /* Ocupa el 60% del espacio */
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Resumen del carrito */
.resumen-carrito {
    flex: 1 1 35%; /* Ocupa el 35% del espacio */
    padding: 1.5rem;
    background-color: #F4A300; /* Fondo Calabaza */
    color: #FFFFFF; /* Texto blanco */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Producto individual */
.producto-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #FFFFFF; /* Fondo claro */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Imagen del producto */
.producto-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%; /* Redondear las imágenes */
}

/* Detalles del producto */
.producto-item .detalle {
    flex: 1;
    margin-left: 1rem;
    color: #1D3557;
    font-size: 1rem;
    line-height: 1.4;
}

input.cantidad {
    width: 50px; /* Ajusta el tamaño del input */
    height: 30px; /* Ajusta la altura del input */
    text-align: center; /* Centra el texto dentro del input */
    padding: 0; /* Elimina cualquier relleno */
    font-size: 1rem; /* Ajusta el tamaño del texto */
    border: 1px solid #ccc; /* Borde ligero para el input */
    border-radius: 4px; /* Bordes redondeados */
}

/* Botón de eliminar producto */
.producto-item button {
    background-color: #E63946; /* Rojo llamativo */
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

.producto-item button:hover {
    background-color: #D32F2F; /* Rojo más oscuro */
}

/* Botones generales */
#vaciar-carrito, #comprar-carrito {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #1D3557; /* Azul oscuro */
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

#vaciar-carrito:hover, #comprar-carrito:hover {
    background-color: #556B2F
}

/* Texto dentro del resumen del carrito */
.resumen-carrito h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #FFFFFF; /* Blanco */
    text-align: center;
}

.resumen-carrito p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #FFFFFF; /* Blanco */
    text-align: center;
}

.resumen-carrito span {
    font-weight: bold;
    font-size: 1.6rem;
    color: #FFFFFF;
}


/*----------------style footer---------------*/
.footer {
    grid-area: footer;
    background-color: #1D3557; /* Color de fondo */
    padding: 0.04vw; /* 209xEspaciado interno */
    text-align: center; /* Alineación del texto */
    color: #ffffff; /* Color del texto */
    margin-top: 6vw; /* Añadir espacio arriba */
}

.footer a {
    font-size: 0.875em;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #F4A300; /* Cambiar color al pasar el ratón */
}

.footer_content {
    display: flex; /* Usar flexbox para alinear los elementos */
    justify-content: space-between; /* Espacio entre secciones */
    margin: 2.17vh 0; /* 20px Margen superior e inferior */ 
}

.footer_content div {
    flex: 1 1 0%; /* Cada sección toma el mismo espacio */

}

.footer_content h4 {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 1.08vh; /* 10px Espacio debajo del título */
    
}

.contact_info p{
    font-size: 0.875em;;/*14px*/
    text-align: left;
    margin-block-start: 2.74vh; /*16px*/
    text-align: center; /* Centrar el título */
}

.social_media i {
    font-size: 2em; /*32px Ajusta el tamaño de los íconos */
    padding: 10px; /* 10px Espaciado entre íconos */
}

.quick_links h4 {
    margin-left:30px;
    text-align: center;
}

.quick_links  ul li {
    list-style-type: none;
    margin-block-start: 1.74vh; /*16px*/
}

.footer_bottom {
    text-align: center; /* Centrar el texto en la parte inferior */
    color: #ffffff;
    margin-top: 5.98vh; /*55px*/
    font-size: 0.75em; /*12px*/
}

/* Diseño responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .carrito-container {
        flex-direction: row; /* Asegura que el resumen quede debajo de los productos */
        align-items: center;
        gap: 1.5rem; /* Ajusta el espaciado entre los contenedores */
    }

    .productos-carrito {
        order: 1; /* Asegura que el listado de productos esté primero */
        width: 100%;
    }

    .resumen-carrito {
        order: 2; /* Asegura que el resumen del carrito esté abajo */
        width: 100%;
    }
}
@media (max-width: 600px) {
    .carrito-container {
        flex-direction: row; /* Asegura que el resumen quede debajo de los productos */
        align-items: center;
        padding: 1rem; /* Ajusta el padding en pantallas más pequeñas */
        gap: 1.5rem;
    }

    .productos-carrito {
        padding: 1rem;
        width: 100%;
    }

    .producto-item {
        padding: 1rem;
        width: 100%;
    }

    .producto-item button {
        padding: 0.5rem 0.8rem;
    }

    #vaciar-carrito, #comprar-carrito {
        font-size: 0.9rem;
        padding: 0.8rem;
    }

    .resumen-carrito {
        padding: 1rem;
    }
}